<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{- .Site.Title -}}</title>
  <meta name="description" content="{{ .Site.Params.description }}">


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  {{- partial "head.html" . -}}
  <link rel="stylesheet" href="/css/main.css" media="all">
  <link rel="stylesheet" href="/css/navbar-footer.css" media="all">
  <link rel="stylesheet" href="/css/loader.css" />

  <!-- aos -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body class="text-dark">
  <!--<div id="loader" class="center"></div>-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <div>
    {{- partial "navbar.html" . -}}

    {{ if .Site.Params.disable_home }}
    {{ else }}
    {{- partial "home.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_about }}
    {{ else }}
    {{- partial "about.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_experience }}
    {{ else }}
    {{- partial "experience.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_education }}
    {{ else }}
    {{- partial "education.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_projects }}
    {{ else }}
    {{- partial "projects.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_achievements }}
    {{ else }}
    {{- partial "achievements.html" . -}}
    {{ end }}

    {{ if .Site.Params.disable_contact }}
    {{ else }}
    {{- partial "contact.html" . -}}
    {{ end }}

    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
  </div>

  <!-- Darkmode -->
  <script>
    function autoDarkMode() {
      $("body").toggleClass("darkmode");
      $(".fa-moon").addClass("d-none");
      $(".fa-sun").removeClass("d-none");
      $("nav").toggleClass("navbar-dark");
      $("nav").toggleClass("navbar-light");
      $(".text-dark").toggleClass("darkmode-text-dark");
      $(".text-muted").toggleClass("darkmode-text-muted")
      $(".about-backdark").toggleClass("about-back");
      $(".education-backdark").toggleClass("education-back");
      $(".achievements-backdark").toggleClass("achievements-back");
      $(".dropdown-menu").toggleClass('darkmode-dropdown-menu');
    }
  </script>
  <script src="/js/auto_darkmode.js"></script>
  <script>
    /*
    document.onreadystatechange = function () {
      if (document.readyState !== "complete") {
        document.querySelector(
          "body").style.visibility = "hidden";
        document.querySelector(
          "#loader").style.visibility = "visible";
      } else {
        document.querySelector(
          "#loader").style.display = "none";
        document.querySelector(
          "body").style.visibility = "visible";
      }
    };
    */

    $(".darkmode-label").click(function () {
      $("body").toggleClass("darkmode");
      $(".fa-moon").toggleClass("d-none");
      $(".fa-sun").toggleClass("d-none");
      $(".about-backdark").toggleClass("about-back");
      $(".education-backdark").toggleClass("education-back");
      $(".achievements-backdark").toggleClass("achievements-back");
      $("nav").toggleClass("navbar-dark");
      $("nav").toggleClass("navbar-light");
      $(".text-dark").toggleClass("darkmode-text-dark");
      $(".text-muted").toggleClass("darkmode-text-muted")
      $(".dropdown-menu").toggleClass('darkmode-dropdown-menu');

      switchDarkmodeSetting();
    });


  </script>
</body>

</html>